<section class="container d-flex flex-column h-100">
    <div class="d-flex align-items-center bloc_title justify-content-center">
        <app-main-button class="returnButton" [name]="'Retour'" routerLink="/">
        </app-main-button>
        <h1 class='text-center'>Groupement Catégoriel</h1>
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center h-100">
        <app-main-button class="homeButton" routerLink="/groupementcategoriel/parametre" [name]="'Paramètres'">
        </app-main-button>
        <app-main-button class="mt-4 homeButton" routerLink="/groupementcategoriel/experience" [name]="'Commencer'">
        </app-main-button>
    </div>
    <video class="video" height="0" controls></video>
</section>