<section class="container d-flex flex-column h-100">
    <div class="d-flex align-items-center bloc_title justify-content-center">
        <app-main-button class="returnButton" [name]="'Retour'" routerLink="/"></app-main-button>
        <h1 class='text-center'>Auto-Répétition</h1>
    </div>

    <div class="d-flex flex-column align-items-center justify-content-centers selectExperience">
        <app-main-button *ngFor="let data of TYPELIST_VALUES" class="mt-4 selectExpButton"
            [routerLink]="'/autorepetition/parametre/' + data.type" [name]="data.label">
        </app-main-button>
    </div>
</section>