<section class="container d-flex flex-column h-100 align-items-center justify-content-around">
    <div class="d-flex align-items-center justify-content-center">
        <h1 class='text-center'>{{this.titleTypeExperience}}</h1>
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center bloc_form">
        <div class="d-flex justify-content-between align-items-center w-100 p-3">
            <label class='col-6'>Temps d'affichage (secondes) : </label>
            <input class='form-control col-6' *ngIf="this.params.typeSelected == 'familiarisation1';else elseBlock"
                value="&#8734;" disabled>
            <ng-template #elseBlock>
                <input class='form-control col-6' min="1" type="number" step="0.5" min="0" max="10"
                    [(ngModel)]="this.params.timeDisplay">
            </ng-template>
        </div>

        <div class="d-flex justify-content-between align-items-center w-100 p-3">
            <label class='col-6'>Nombres d'images affichées : </label>
            <input class='form-control col-6' type="number" min="1" step="1" min="0" max="10"
                [(ngModel)]="this.params.imageNumber" [disabled]="isFamiliarisation()">
        </div>

        <div class="d-flex justify-content-between align-items-center w-100 p-3">
            <label class='col-6'>Activer la modification de couleur : </label>

            <div class="form-check form-switch col-6">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked"
                    [(ngModel)]="this.params.colorchange">
            </div>
        </div>

        <div class="d-flex justify-content-between align-items-center w-100 p-3">
            <label class='col-6'>Activer la rotation automatique : </label>

            <div class="form-check form-switch col-6">
                <input class="form-check-input" #autoRotate type="checkbox" id="flexSwitchCheckChecked"
                    [(ngModel)]="this.params.autoRotate" [disabled]="this.params.typeSelected == 'familiarisation1'">
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center w-100 p-3"
            [class.disabledParam]="!autoRotate.checked">
            <label class='col-6'>Temps d'intervalle (secondes) : </label>
            <input class='form-control col-6' min="1" type="number" step="0.5" min="0" max="10"
                [(ngModel)]="this.params.timeTempoBetweenCard" [disabled]="!autoRotate.checked">
        </div>
        <div class="d-flex justify-content-between align-items-center w-100 p-3">
            <label class='col-6'>Afficher les images aléatoirement : </label>

            <div class="form-check form-switch col-6">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked"
                    [(ngModel)]="this.params.randomImg">
            </div>
        </div>

        <div class="d-flex justify-content-between align-items-center w-100 p-3"
            [class.disabledParam]="params['randomImg'] || params.imageNumber !== 6 ">
            <label class='col-6'>Ordres prédéfinis : </label>
            <select class='form-select col-6' type="number"
                [disabled]="params['randomImg'] || params.imageNumber !== 6 " [(ngModel)]="params.orderimage"
                [ngModelOptions]="{standalone: true}">
                <option *ngFor="let data of ORDER_VALUES" [ngValue]="data.type">{{data.label}}</option>
            </select>
        </div>

        <div class="d-flex justify-content-between align-items-center w-100 p-3">
            <label class='col-6'>Activer la restitution automatique : </label>

            <div class="form-check form-switch col-6">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked"
                    [(ngModel)]="this.params.autoRestitution">
            </div>
        </div>

        <div class="d-flex justify-content-between align-items-center w-100 p-3"
            [class.disabledParam]="!params['autoRestitution']">
            <label class='col-6'>Temps de restitution (secondes) : </label>
            <input class='form-control col-6' min="1" type="number" step="0.5" min="0" max="10"
                [(ngModel)]="this.params.timeRestitution" [disabled]="!params['autoRestitution']">
        </div>

    </div>
    <div class="d-flex justify-content-center">
        <app-main-button class="paramButton" (click)='cancelParams()' routerLink="/autorepetition"
            [name]="'Annuler'"></app-main-button>
        <app-main-button class="ms-5 paramButton" (click)='resetParams()' [name]="'Réinitialiser'"></app-main-button>
        <app-main-button class="ms-5 paramButton" (click)="saveParams()" routerLink="/autorepetition/experience"
            [name]="'Continuer'"></app-main-button>
    </div>
</section>