.form-select, .form-control{
    max-width: 200px;
}

label{
    font-size: large;
}

.form-switch .form-check-input{
    height: 30px;
    width: 55px;
    margin-left: 0;
    cursor: pointer;
}

.form-switch{
    max-width: 200px;
    padding: 0;
}

.disabledParam {
    background-color: #eee;
    opacity: .9;
    border-radius: 10px;
}
.bloc_form{
    width: 600px;
}