.container_card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 2px;
}

.card {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #efefef00;
  cursor: move;
  margin: 0;
}

.card.empty{
  background-color: #ffffff00;
  border: #fff;
}

.bloc_card {
  margin: 1px;
  background-color: transparent;
  text-align: center;
  position: relative;
}
.placeholder {
  flex: 1 0 5rem;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  border: 1px;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.img_groupCateg{
  height: 100%;
  width: 100%;
}

.bloc_start_input{
  border: 1px black solid;
  border-radius: 15px;
  padding: 75px 50px;
}

.bloc_btn_record {

  position: absolute;
  bottom: 100px;
}

.gray_background {
  background-color: #e5e5e5; /* Light grey background color */
}

.corner-image {
  position: absolute;
  width: 100px; /* Adjust the width and height as per your requirement */
  height: 100px;
}

.top-left {
  position: absolute;
  top: 0vh;
  left: 7vw;
  width: 14vw;
  height: auto;
}

.top-right {
  position: absolute;
  top: 0vh;
  right: 7vw;
  width: 14vw;
  height: auto;
}

.bottom-left {
  position: absolute;
  bottom: 0vh;
  left: 7vw;
  width: 14vw;
  height: auto;
}

.bottom-right {
  position: absolute;
  bottom: 0vh;
  right: 7vw;
  width: 14vw;
  height: auto;
}

.boy {
  position: absolute;
  border-top: 50%;
  right: 15vw;
  width: 9vw;
  height: auto;
}

.truck {
  position: absolute;
  top: 2vh;
  border-left: 50%;
  width: 12vw;
  height: auto;
}

.boxes {
  position: absolute;
  top: 6vh;
  left: 34vw;
  width: 8vw;
  height: auto;
}

.movers {
  position: absolute;
  top: 4vh;
  right: 34vw;
  width: 7vw;
  height: auto;
}