<section class="container d-flex flex-column h-100">
    <div class="d-flex align-items-center bloc_title justify-content-center">
        <!-- <app-main-button class="returnButton" [name]="'Retour'" routerLink="/groupementcategoriel">
        </app-main-button> -->
        <h1 class='text-center'>Paramètres</h1>
    </div>
    <form #form class="d-flex flex-column align-items-center justify-content-center h-50">

        <div class="d-flex justify-content-between align-items-center  w-50 p-4">
            <label class='col-6'style="margin-right: 6.5vw;">Nombre d'images : </label>
            <select class='form-select col-6' type="number" [(ngModel)]="this.params.imageNumber"
                [ngModelOptions]="{standalone: true}">
                <option *ngFor="let data of NBIMAGELIST_VALUES" [ngValue]="data.type">{{data.label}}</option>
            </select>
        </div>
        <div class="d-flex justify-content-between align-items-center w-50 p-4">
            <label class='col-6'style="margin-right: 6.5vw;">Liste : </label>
            <select class='form-select col-6' type="number" [(ngModel)]="this.params.typeList"
                [ngModelOptions]="{standalone: true}">
                <option *ngFor="let data of TYPELIST_VALUES" [ngValue]="data.type">{{data.label}}</option>
            </select>
            <app-main-button class="ms-5 paramButton" (click)='toggleButtonColor()' 
            [(ngModel)]="params.backGr" [isGreen]="isButtonGreen"
            [name]="'Arrière plan'"></app-main-button>
        </div>

        <div class="d-flex justify-content-between align-items-center w-50 p-4">
            <label class='col-6'style="margin-right: 6.5vw;">Temps (minutes) : </label>
            <input class='form-control col-6' type="number" step="0.5" min="1" max="30" [(ngModel)]="params.time"
                [ngModelOptions]="{standalone: true}">
        </div>
    </form>

    <div class="d-flex justify-content-center">
        <app-main-button class="ms-5 paramButton" (click)='cancelParams()' routerLink="/groupementcategoriel"
            [name]="'Annuler'"></app-main-button>
        <app-main-button class="ms-5 paramButton" (click)='resetParams()' [name]="'Réinitialiser'"></app-main-button>
        <app-main-button class="ms-5 paramButton" (click)="saveParams()" routerLink="/groupementcategoriel"
            [name]="'Sauvegarder'"></app-main-button>
    </div>

    <video class="video" height="0" controls></video>
</section>