<section class="container d-flex flex-column h-100">
    <h1 class='text-center mt-6'>Stratégies mnésiques</h1>
    <div class="d-flex flex-column align-items-center justify-content-center h-100">
        <app-main-button class="homeButton" routerLink="autorepetition" [name]="'Auto-Répétition'"></app-main-button>
        <app-main-button class="mt-4 homeButton" routerLink="groupementcategoriel" [name]="'Groupement Catégoriel'">
        </app-main-button>
        <app-main-button class="mt-4 homeButton" routerLink="memoireselective" [name]="'Mémoire Sélective'"></app-main-button>
    </div>
</section>
