<!-- Avant de commencer l'expérience -->
<section class="container d-flex flex-column align-items-center h-100" *ngIf="!this.displayExperience">
  <div class="d-flex align-items-center bloc_title justify-content-center w-100 mb-5">
    <h1> </h1>

    <app-main-button class="returnButton" [name]="'Retour'" routerLink="/memoireselective">
    </app-main-button>
  </div>
  <div class="form-group d-flex flex-column jus w-50 bloc_start_input">
    <label class="mb-4">Nom du participant : </label>
    <input class='form-control mb-5 input_name' type="text" [(ngModel)]="this.nameParticipant">
    <app-main-button class="classicButton mx-auto btn_start" (click)="setDisplayExperience()"
      [name]="'Valider'"></app-main-button>

  </div>

  <div class='bloc_btn_record'>
    <app-main-button class="classicButton mx-auto btn_record " (click)="record.start()"
      [name]="'Commencer l\'enregistrement'"></app-main-button>
  </div>
</section>

<!-- L'expérience  -->
<section class="flex-column justify-content-center d-flex h-100" onload="initTimer()" *ngIf="this.displayExperience"
  (window:resize)="onResize()">
  <div class=" card-container">

    <!-- Recall -->
    <div class="d-flex line mx-auto recall" *ngIf="this.timesUp">
      <div class="d-flex card_recall">
        <div class="flip-card" [ngStyle]="{'height':style['height'], 'width': style['width']}">
          <div class="flip-card-inner"> {{indexCage}}
            <div class="flip-card-front" style="box-shadow:  0 4px 8px 0 rgba(0,0,0,0.2);">
              <img [src]="link" alt="" (pointerdown)="changeImage()">
            </div>
            <div class="flip-card-back">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex line mx-auto">
      <div class="d-flex card_{{i}} " *ngFor="let item of items; let i = index" (pointerdown)="onClick(i)"
        [ngClass]="item['rotate'] ? 'flip-rotate-card' : ''">
        <div class="flip-card" [ngStyle]="{'height':style['height'], 'width': style['width']}">
          <div class="flip-card-inner">
            <div class="flip-card-front" (pointerdown)="onFront(i)">
              <img [src]="line1[i]==='cage'? 'assets/MemoireSelective/cage.jpg' :'assets/MemoireSelective/maison.jpg' ">
            </div>
            <div class="flip-card-back">
              <img src="{{item['src']}}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex line mx-auto">
      <div class="d-flex card_{{j}}" *ngFor="let item of items2; let j = index" (pointerdown)="onClick2(j)"
        [ngClass]="item['rotate'] ? 'flip-rotate-card' : ''">
        <div class="flip-card" [ngStyle]="{'height':style['height'], 'width': style['width']}">
          <div class="flip-card-inner">
            <div class="flip-card-front" (pointerdown)="onFront2(j)">
              <img [src]="line2[j]==='cage'? 'assets/MemoireSelective/cage.jpg' :'assets/MemoireSelective/maison.jpg' ">
            </div>
            <div class="flip-card-back">
              <img src="{{item['src']}}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section style="display: none" *ngIf="this.displayExperience ">
  <div style=" margin: auto; width: 50%;">
    <table id="excel-table">
      <tr>
        <th>Temps</th>
        <th *ngFor="let key of getObjectKeys(nbrClicsParImage) ">{{key}}</th>
      </tr>

      <tr *ngFor="let line of exportExcel">
        <td *ngFor="let prop of getObjectKeys(line)">{{ line[prop] }}</td>
      </tr>

    </table>
  </div>
</section>

<app-modal-escape #modalEscape route="/memoireselective" [data]="dataSave" [timer]="timer"
  [nameParticipant]="this.nameParticipant"></app-modal-escape>