/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


h1{
    font-size: 45px;
}

.bloc_title{
    margin-top: 150px;
    position: relative;
}

html{
    overflow: hidden;
}

.cdk-global-scrollblock{
    overflow: hidden;
}