<div mat-dialog-content class="d-flex flex-column">
    <button type="button" class="btn btn-outline-dark mb-4 buttonModal"  mat-dialog-close (click)="close('')">Retour</button>
    <button type="button" class="btn btn-outline-dark buttonModal" mat-dialog-close (click)="close('backMenu')" >Quitter</button>
    <button *ngIf="this.displaySaveButton" type="button" class="btn btn-outline-dark mt-4 buttonModal" mat-dialog-close (click)="close('backMenuAndSave')" >Sauvegarder et quitter</button>
</div>